.parent_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

h1 {
    font-family: 'Arial', sans-serif;
}

.actions[hidden] {
  display: none !important;
}

#dataTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

#actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}

table {
    width: 90%;
    border-collapse: collapse; 
    table-layout: fixed; 
    font-family: Arial, sans-serif;

    margin: 20px 0;
}

th, td {
    border: 1px solid #dddddd; 
    padding: 12px 15px;       
    text-align: left;         
    word-wrap: break-word;   
}

thead tr {
    background-color: #09ae92;
    color: #ffffff;
    padding: 12px 15px;
    text-align: left;
    justify-content: space-between;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
